/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

h1 {
    text-align: right;
}

h5 {
    font-style: italic;
    text-align: right;
    
}

.container {
    background-image: linear-gradient(rgba(185, 179, 179, 0.7), rgba(185, 179, 179, 0.7)), url(yoga.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.view-box {
    margin-top: 20%;
}



